/*
	Proctor Consulting Website Template
	
*/
body {
	padding: 0px;
	margin:0px;
	background:  url('/images/backgrounds/main_background.jpg') repeat-x #ffffff;
	font-family: Helvetica, Arial, sans-serif;
			font-size: 12px;
			color: #222;
			line-height: 17px;
}
img {
	
	border-style: none
}
h1 {
	font-weight:bold;
	color:#000000;
}
h2 {
	font-weight:bold;
	color:#ffffff;
}
.main_content {
	
	margin-top:20px;
	min-height:300px;
}
.header {
	height:196px;
	border-bottom:1px #cccccc solid;
	background: url('/images/backgrounds/headerback.jpg') repeat-x #999999;
}

.topbar {
	height:101px;
	color:#777777;
	top:0px;
	position:relative;
	z-index:45;
	width:100%;
	background:#ffffff;
	opacity: 0.8;
}
.menu_container {
	height:30px;
	background:#272727;
}
#top_menu {

color:#ffffff;
float:left;
padding: 0px;
height:24px;

}
#top_menu ul {
margin:8px 0px;
padding-left:0px;
}
#top_menu li {
display:inline;
padding-right:35px;
}

#top_menu a {
text-decoration:none;
color: #ffffff; 
}

.top_shadow {
	background: url('/images/backgrounds/top_shadow.png') repeat-x;
	height:9px;
}
.logotop {
	
	height:100px;
	background:#ffffff;
	
}
.menu {
	z-index:60;
	float:right;
	color:#ffffff;
	top:0px;
	position:relative;
	margin-top:18px;
}
.slide_container {
	margin-left: auto;
	margin-right: auto;
	width:960px;
	height:196px;
	position:relative;
	
	
}
.slides {
	top:0px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	position:absolute;
	float:left;
}
.col3box {
	background:url('/images/backgrounds/col3back.png') repeat-x ;
	width:192px;
	height:308px;
	margin-bottom:20px;
}
.footer1 {
	background:url('/images/backgrounds/grey_footer.jpg') repeat-x #666666;
	height:148px;
}

.footer2 {
	background:#151515;
	height:200px;
}
