/*
	Proctor Consulting Website Template
	
*/
body {
	padding: 0px;
	margin:0px;
	background: url('/images/team/roy.jpg') repeat #ffffff;
}
.header {
	height:250px;
	
	background: url('/images/team/chloe.jpg') repeat #999999;
}
.head_container {
	top:-50px;
	position:relative;
	
}
.topbar {
	height:50px;
	color:#ffffff;
	top:0px;
	position:relative;
	z-index:2;
	width:100%;
	background:#000000;
	opacity: 0.5;
}
.logo {
	z-index:5;
	float:left;
	top:0px;
	position:relative;
	height:100px;
	width:200px;
	background:#ffffff;
}
.menu {
	z-index:3;
	float:right;
	color:#ffffff;
	top:0px;
	position:relative;
}
.slide_container {
	margin-left: auto;
	margin-right: auto;
	width:1060px;
}
.slides {
	top:0px;
	

	position:absolute;
	float:left;
}
